<mat-toolbar >Completed ToDoList</mat-toolbar>
<mat-card class="mat-card">
    <div class="card-container">
        <mat-card *ngFor="let item of data" class="card">
          <mat-card-content>
            <div class="card-content-row">
              <div class="card-content-left">
                <div class="title">{{ item.toDoTitle }}</div>
                
                <div class="description">{{ item.toDoListDescription }}</div>
              </div>
              <div class="card-content-right">
                <!-- <div class="duetime">Due Time:{{ item.dueTime| date :"dd/MM/yyyy" }}</div> -->
                <!-- <button mat-icon-button color="primary">
                  <mat-icon>edit</mat-icon>
                </button> -->
                <button mat-icon-button color="warn" (click)="deleteTask(item.toDoListId)" >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
</mat-card>