
.card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

 .mat-card {
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 0.22%;
}

 .card-content-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-content {
  display: flex;
  align-items: center;
}

.checkbox {
  margin-right: 10px;
}

.title {
  font-weight: bold;
  margin-right: 10px;
}

.description {
  margin-right: 10px;
}

.card-content-right {
  display: flex;
  align-items: center;
}
