/* card-table.component.css */
.mat-card {
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 0.22%;
  }
  
  .card-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .card {
    background-color: #f9f9f9;
    padding: 0px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-content-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-content-left {
    display: flex;
    flex-direction: column;
  }
  
  .title {
    font-weight: bold;
    font-size: 1em;
  }
  
  .duetime {
    color: #888;
    font-size: 0.7em;
  }
  
  .card-content-right {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  

    .description {
        /* Centers the text within the description */
        flex: 1; /* Allows the description to take remaining vertical space */
    }
  
  